body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

.header, .designedIn {
  background-image: url('../images/the-flatiron-building.png');
}

#mainNav {
  list-style: none;
}

#mainNav a {
  font-size: 18px;
  color: white;
  line-height: 30px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.designedIn h3 {
  color: white;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

footer a {
  color: white;
}
